/*   
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  float: left;
  width: 30%;
  height: 300px; 
  background: #ccc;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; 
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}  
  */

/* .head2{
  float: left;
  
} */


/* .head1{
  display: flex;
  flex-wrap: wrap;
}

.head2{
  border: 1px solid red;
  margin: 30px;
}

#headicon2{
  margin-left: 750px;
  padding-top: 30px;
  padding-left: 60px;
  font-size: 25px;
} */


.head1{
  /* border: 1px solid red; */
  background-color: rgb(247, 178, 117);
  display: flex;
  justify-content:space-around;
  margin: 0px;
  height: 100px;
}

*{
  margin: 0%;
  padding: 0%;
}
.head2 h1{
  color:rgb(34, 37, 36);
  /* color: black; */
  padding-top: 30px;
  padding-left: 20px;
  font-family:'Times New Roman', Times, serif
}
.head2 h1:hover{
  color: black;
} 

.head6 h1{
  display: inline;
  font-family:'Times New Roman', Times, serif;
  color:rgb(34, 37, 36);
}
.head6 a{
  text-decoration: none;
}
.head6 i{
  font-size: 25px;
  color:rgb(34, 37, 36);
  /* color: black; */
}
.head6 i:hover{
  color: black;
}
.head6 h1:hover{
  color: black;
}
.head6{
  padding-top: 30px;
  margin-left: 160px;
}
.head3{
  padding-top: 15px;
  margin-left: 100px;  
}
.head3 i{
    /* border: 1px solid coral; */
    /* background-color: coral; */
  background-color:rgb(72, 75, 74);
    font-size: 25px;
    margin-top: 5px;
    padding: 12.5px;
    color: azure;
    border-radius: 2px;
}
.head3 input{
  font-size: 23px;
  width: 500px;
  font-style: oblique;
  outline: none;
  padding: 10px;
  padding-top: 10.8px;
  border-radius: 2px;
  border: 1px solid white;
}
.head3{
  margin-top: 3px;
}


#foot{
  background-color:rgb(72, 75, 74);
  height: 350px;
  margin-top: 0px;
}

#foot i{
  padding: 10px;
  font-size: 30px;
}
#footer2{
  padding-top: 40px;

}


table th{
  /* border: 1px solid red; */
  padding-left: 80px;
  font-size: 20px;
}

table td{
  /* border: 1px solid red; */
  padding-left: 80px;
}
#footer4{
  padding-top: 30px;
}
#row3{
  padding-right: 75px;
}
#row4{
  padding-right: 65px;
}
#footer2 a{
  text-decoration: none;
  color: black;
}


.sighin{
  padding-top: 36px;
  font-size: 20px;

}
.sighin a{
  /* border: 1px solid red; */
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
}

.sighupa2{
    top: 13px; 
    /* background-color:rgb(72, 75, 74); */
    background-color: rgb(233, 153, 153);
    color:black;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sighina1{
  background-color:rgb(221, 129, 129);
  /* background-color:rgb(72, 75, 74); */

  color:black;
  font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.sighina1:hover{
  background-color:rgb(141, 92, 92);
  color: azure;
}
.sighupa2:hover{
  background-color:rgb(78, 46, 46);
  color: azure;
}
nav{
  text-align: center;
  padding-top: 40px;
}
span{
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
}
.jew1{
  display: flex;
}
.jewspan{
  border: 1px solid skyblue;
  width: 316px;
  height: 400px;
  background-color: cornflowerblue;
  transition: 0.10s;  
}
.jewspan:hover{
  transform: scale(1.1);
}

.jewimgdiv{
  background-color: azure;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

#jewimg{
  height: 165px;
}
#jewp{
  font-size: 15px;
}


.elechead{
  /* border: 1px solid; */
  /* width: 25%; */
  /* height: 400px; */
  display: flex;
  flex-wrap: wrap;
  /* background-color: burlywood;  */
}
.elecimg{
  background-color: azure;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

  /* border-radius: 50px; */
}
.elecspan img{
  height: 200px;
  width: 207px;
  padding-left: 90px;
}
.elecspan{
  border:1px solid skyblue;
  width:31.5%;
  height: 500px;
  background-color: rgb(233, 84, 84);
  transition: 0.5s;
}
.elecspan:hover{
  transform: scale(1.1);
}
.elecspan p{
  font-size: 12px;
}
.elecspan h6,p,h4{
  margin: 0px;
  padding: 20px;
}

.menhead{
  /* border: 1px solid red; */
  display: flex;
}
.menspan{
  border: 1px solid rgb(182, 135, 226);
  width: 600px;
  background-color: rgb(182, 135, 226);
  transition: 0.10s;
}
.menspan:hover{
  transform: scale(1.1);
}
.menimg img{
  height: 200px;
  padding-left: 80px;
}
.menimg{
  background-color: azure;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.menspan p{
  font-size: 12px;
}


.womenhead img{
  height: 200px;
  width: 250px;
  padding-left: 80px;
}
.womenimg{
  background-color: azure;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.womenhead{
  display: flex;
  flex-wrap: wrap;
}
.womenspan{
  border:1px solid rgb(202, 105, 142);
  width: 425px;
  height: 500px;
  background-color: rgb(202, 105, 142);
  transition: 0.5s;
}
.womenspan:hover{
  transform: scale(1.1);
}
.womenspan p{
  font-size: 10px;
}
.womenspan h5,p,h4{
  padding: 10px;
}

.womenspan h5,.womenspan h4{
  margin: 0px;
  
}
.inform{
  border:  1px solid rgb(209, 184, 233);
  text-align: center;
  background-image: url(./component2/shop1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  

  height: 500px;
}
.indiv{
  border: 1px solid violet;
  background-color:rgb(182, 165, 112);
  border-radius: 20px;
  width: 300px;
  height: 300px;
  margin-left: 500px;
  margin-top: 70px;
  /* background-image: url(./); */
  background-repeat: no-repeat;
  background-size: 200%;
}
.indiv input{
  margin-top: 20px;
  padding: 14px;
  width: 250px;
  border-radius: 30px;
  outline: none;
  border:violet;
}
.indiv p{
  padding-right: 150px;
  margin: 0px;
}
.indiv a{
  text-decoration: none;
}
.indiv button{
  /* border: 1px solid red; */
  background-color:brown;
  color: white;
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  margin-top: 20px;
  border: none;
  
}
.indiv button:hover{
  background-color: chocolate;
  color: azure;
}
.uphead{
  border:  1px solid rgb(209, 184, 233);
  text-align: center;
  background-image: url(./component2/shop1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  

  height: 550px;
}

.updiv button{
  background-color:brown;
  color: white;
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  margin-top: 20px;
  border: none;
}
.updiv{
  border: 1px solid rgb(189, 108, 50);
  background-color:burlywood;
  border-radius: 40px;
  width: 400px;
  height: 400px;
  margin-left: 450px;
  margin-top: 80px;
}
.updiv input{
  padding: 14px;
  width: 250px;
  margin-top: 20px;
  border-radius: 50px;
  border: burlywood;
}
.updiv button:hover{
  background-color:rgb(219, 134, 23);
  color: white;
}

.catspan{
  border: 1px solid brown;
  background-color:burlywood;
  padding: 20px;
  border-radius: 20px;
}



.cathead{
  background-image: url(./component2/shop1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
}
.catnew{
  padding-top: 150px;
  padding-left: 200px;

}
.catspan a{
  text-decoration: none;
  color:rgb(34, 37, 36);
}
.catspan span{
  /* font-size: 2px; */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.catspan:hover{
  background-color:rgb(72, 75, 74);
}

.catspan span:hover{
  color: white;
}

.singlespan{
  border: 1px solid sandybrown;
  height: 550px;
  width: 1100px;
  display: flex;
  margin-left: 150px;
  border-radius: 30px;
  margin-top: 0px;
  /* padding-top: 10px; */
  
}
.singlehead{
  padding: 10px;
  padding-top: 20px;
  background-image: url(./component2/shop8.avif);

}
.singlespan p{
  font-size: 15px;
}
.singleimg img{
  height: 460px;
  width: 430px;
  /* padding-top: 60px; */
  /* padding-left: 20px; */
  margin-top: 60px;
  margin-left: 50px;
}
.singleimg{
  background-color: white;
  width: 600px;
}

.singletitle{
  border: 1px solid sandybrown;
  /* border-radius: 30px; */
  height: 500px;
  width: 597px;
  /* margin-left: 50px; */
  padding: 10px;
  padding-top: 37.5px;
  /* margin-top: 10px; */
  background-color: rgb(241, 182, 130);

}
.singlespan a{
  margin-left: 80px;
  text-decoration: none;
  color: azure;
}

.singlea2{
  width: 250px;
  margin-left:150px;
  margin-top: 10px;
  border-radius: 20px;
  background-color:black;
  padding: 7px;
}
.singlea1{
  width: 250px;
  margin-left:150px;
  margin-top: 30px;
  border-radius: 20px;
  background-color:black;
  padding: 7px;
}

.head2 a{
  text-decoration: none;
}
.cah1{
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
  color:burlywood;
  /* font-weight:70px; */
}
.cah2{
  font-size: 30px;
  color:cadetblue;
  font-family: 'Courier New', Courier, monospace;
}
.chead{
  /* border: 1px solid red; */
  padding-top: 40px;
  padding-left: 40px;
}
#footer2 a:hover{
    color: white;
}